@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  padding: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(20, 0, 53);
  color: rgb(231, 163, 163);
  .App {
    font-size: 1.6rem;
    background-color: rgb(30, 4, 131);
    padding: 25px;
    nav {
      background-color: #333;
      border-radius: 5px;
      padding: 10px;
      margin: 10px;
      width: 50vw;
      ul {
        display: flex;

        margin: 0;
        li {
          list-style: none;
          margin: 0 5% 0 0;
          a {
            color: #ccc;
            text-decoration: none;
          }
          .active {
            color: rgb(255, 255, 161);
          }
        }
      }
    }
    .title {
      //text-align: center;
      color: #ffff;
      background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
      background-size: cover;
      color: transparent;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      text-transform: uppercase;
      font-size: 70px;
      line-height: 0.75;
      margin: 10px 0;
    }
    .legend {
      background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
      background-size: cover;
      color: transparent;
      -moz-background-clip: text;
      -webkit-background-clip: text;

      font-size: 30px;
    }
    h1 {
      font-size: 2.5rem;
      color: rgb(199, 70, 70);
      font-weight: bold;
      margin: 0 0 20px 0;
    }
    h2 {
      font-size: 2rem;
      color: #888;
      font-weight: bold;
      margin: 10px 0;
      background-color: #eee;
      padding: 5px;
    }
    h1:not(:first-of-type) {
      margin-top: 20px;
    }
    ul {
      list-style-type: disc;
      margin: 0 0 0 30px;
    }

    form {
      width: 600px;
      .note.invalid {
        color: red;
      }
      fieldset {
        border: 5px solid #ccc;
        border-radius: 5px;
        padding: 20px;

        .row {
          display: flex;
          padding: 15px;
          label {
            &::after {
              content: ":";
            }
            width: 90px;
            margin: 0 0 10px 0;
          }
          input {
            font-size: 1rem;
            margin-left: 20px;
            width: 300px;
            background-color: rgb(41, 134, 221);
          }
        }
        .note {
          font-size: 1rem;
          margin: 0 0 20px 97px;
        }
        .invalid input {
          color: red;
        }

        .buttonRow {
          display: flex;
          justify-content: right;
          button {
            font-size: 1rem;
            padding: 5px;
            text-decoration: none;
            padding: 7px 10px;
            background-color: #122;
            border-radius: 3px;
            color: #fff;
            transition: 0.35s ease-in-out;

            left: 15px;
            bottom: 15px;
          }
          button:hover {
            background-color: rgb(240, 180, 140);
            color: #122;
          }
        }
      }
    }
  }
}
